* {
  /* margin: 50px; */
  box-sizing: border-box;
}

html {
  /* font-family: "Quicksand", sans-serif; */
  background-color: white;
}


#first-logo {
  width: 7%;
  /* display: flex; */
  /* justify-content: center; */
  margin-left: 10%;
}


.subhead {
  text-align: center;
}

h2 {
  font-size: 300%;
  text-align: center;
  margin-top: 60px;
}

img {
  width: 65%;
}

.content {
  background: #83a4d4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding-bottom: 50px;
  
}
.title {
  background-color: #f5f5f5;
  padding: 3%;
  text-align: center;
}

.box {
  padding: 2%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2%;
}

.box h2{
    text-align: center;
    margin-bottom: 2rem;
}

#def {
  background-color: #363636;
  color: white;
}

h3 {
  text-align: center;
  font-size: 150%;
}

#start {
  background-color: #43e08d;
  padding: 10px;
  font-family: Quicksand;
  font-size: 130%;
}

#results {
  background-color: #6ed1ff;
  color: black;
  line-height: 40px;
}

#submit {
  background-color: #43e08d;
  padding: 10px;
  font-family: Quicksand;
  font-size: 130%;
  align-items: center;
  margin-top: 20px;
}

#calculator {
 background: #C9FFBF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFAFBD, #C9FFBF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */






  color: black;
}

#footsize {
  background-color: #43e08d;
  color: white;
}

#reducefootprint {
  background-color: #6dffdd;
}



p {
  font-size: 130%;
}

li {
  font-size: 130%;
  line-height: 40px;
}

